
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" value="" class="form-control typeahead" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control typeahead" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button id="newRental" class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {

            var vm = {
                customerId: null,
                movieIds: [] //initialize to empty array, so we can push movies later
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {  //different than Mosh
                    url: '/api/customers',
                    cache: false
                }
                //remote: {
                //    url: '/api/customers?query=%QUERY',
                //    wildcard: '%QUERY'
                //}
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'customers',
                    display: 'name',
                    source: customers,
                    limit: 10 //different than Mosh
                }).on("typeahead:select", function (e, customer) {
                    vm.customerId = customer.id;
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $("#movie").typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'movies',
                    display: 'name',
                    source: movies,
                    limit: 10
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>"); // add movie to display list
                $("#movie").typeahead("val", "");
                vm.movieIds.push(movie.id);
            });

            $("#newRental").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/api/newRentals",
                    method: "post",
                    data: vm
                })
                    .done(function (e) {
                        toastr.success("Rentals successfully recorded.");
                    })
                    .fail(function (e) {
                        toastr.error("Something unexpected happened.");
                    });
            })
        });
    </script>
}
